.reset{
    display: flex !important;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center !important;
    background: rgba(0, 89, 255, 0.233);
}
 .inner-inp .inp{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 89, 255, 0.233);
    width: 100%;
}
.inp-div{
    line-height: 25px;
}
 .inner-inp{ 
    box-shadow: 1px 1px 3px 2px rgba(128, 128, 128, 0.212);
}
.App input{
    border-radius: 0px !important;
    height: 40px !important;
    border: 1px solid rgba(0, 89, 255, 0.233) !important;
}
.logbox{
    width: 20vh;
    height: 200px;
}
.logbox button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 89, 255, 0.397);
}
@media (max-width:600px) {
     .containers{
        width: 90vw !important;
        box-shadow: 1px 1px 3px 2px rgba(128, 128, 128, 0.212) !important;
    }
    .reset .containers .d-flexs{
        display: block !important;
    }
    .content{
        padding: 10px !important;
    }
    .noshadow{
        box-shadow: none !important;
    }
}