.loading-div{
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    top: 0px !important;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.24);
  }
  .loading-div .circle{
    width: 15px;
    height: 15px;
    background-color: navy !important;
    /* background-color: rgba(0, 89, 255, 0.699); */
  }
  .loading-div .d-flex{
    width: 6vw;
    justify-content: space-between;
    margin-top: 13px;
    /* border: 1px solid; */
  }
  .lodtop{
    position: relative;
    top: -20px ;
  }
  .l{
    margin-left: 10px;

  }
  .lodbottom{
    position: relative;
    top: 20px ;
  }
  .loading-div .rotate{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    padding-top: 8px;
    /* margin-top: -50px; */
    animation: rotate 250s linear infinite forwards;
  }
  .cirlelod{
    position: absolute;
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background-color: white;
  }
  @keyframes rotate {
    100%{
      transform: rotate(50000deg);
    }
  }
@media (max-width:768px) {
  .loading-div{
    position: fixed;
  }
  .rotate{
    margin-top: 0px !important;
    width: 20vw !important;
    height: 20vw !important;
  }
  .loading-div .d-flex{
    width: 20vw;
  }

}
@media (max-width:375px) {
    .loading-div{
      top: 40%;
      height: 28%;
    }
    .rotate{
        /* animation-name:d !important ; */
      /* border: 1px solid !important; */
      width: 21vw !important;
      height: 22vw !important;
    }
    .loading-div .d-flex div{
      width: 12px ;
      height: 12px;
    }
    .loading-div .d-flex{
      width: 20vw !important;
    }
  }
@media (max-width:325px) {
  .loading-div{
    top: 40%;
    height: 18%;
  }
  .rotate{
    /* border: 1px solid !important; */
    width: 24vw !important;
    height: 27vw !important;
  }
  .loading-div .d-flex div{
    width: 15px ;
    height: 15px;
  }
  .loading-div .d-flex{
    width: 27vw !important;
  }
}